<div class="landing-second-panel__visual-column" aria-hidden="true">
<div class="landing-second-panel__visual-shell" data-monolith-visual>
<div class="landing-second-panel__visual-base"></div>
<div class="landing-second-panel__visual-binary landing-second-panel__visual-binary--monolith" data-binary-streams></div>
<div class="landing-second-panel__visual-binary landing-second-panel__visual-binary--human" data-binary-streams></div>
<div class="landing-second-panel__visual-glow"></div>
<div class="landing-second-panel__visual-scan"></div>
  </div>
</div>
